---
import Layout from '../layouts/Layout.astro'
import Timeline from '../components/Timeline.astro'
import TimelineitemsV from '../components/TimelineitemsV.astro'
import Card from '../components/Card.astro'
---

<Layout>
  <div class="flex flex-col lg:flex-row justify-center items-center mx-auto gap-5 xl:w-8/12">
    <div class="flex flex-col gap-5 xl:gap-10">
      <h1 class="text-4xl text-pink-400">About</h1>

      <div class="flex flex-col gap-5">
        <p class="text-4xl text-cyan-400">Mi nombre es Gustavo Vazquez, soy Full-Stack Developer.</p>
        <p>Soy Desarrollador de aplicacion, especilizado en la aplicaiones Banacarias en diferentes 
          sectores, actualmente en el modulo de transacciones interbancarias SPEI, tambien en participado 
          en otros proyectos de cartera de creditos de consumo e hipotecarios, con diferentes tecnologias
          de acuerdo a las necesaidades del cliente (Bancos).
        </p>
        <p>
          Los Bancos en los que e podido participar en CitiBanamex, Banco del Bajio, Banco Base, Banorte, etc.
        </p>
      </div>
      <div class='bg-gray-700 w-full p-5 rounded-xl'>
        <h2 class="text-3xl text-cyan-400 py-4">Projectos</h2>
        <div class="grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-2 gap-5">
          <Card classCard='bg-teal-600'>
            <span slot="body" class="text-lg text-amber-400">CitiBanamex</span>
            <span slot="footer" class="text-4xl text-amber-400">CODI<span class="text-2xl text-amber-100"> Fase 1</span></span>
          </Card>
          <Card classCard='bg-violet-600'>
            <span slot="body" class="text-lg text-amber-300">CitiBanamex</span>
            <span slot="footer" class="text-4xl text-amber-400">CODI<span class="text-2xl text-amber-100"> Fase 2</span></span>
          </Card>
          <Card classCard='bg-pink-500'>
            <span slot="body" class="text-lg text-amber-100">CitiBanamex</span>
            <span slot="footer" class="text-4xl text-amber-100">Portabilidad Nomina</span>
          </Card>
          <Card classCard='bg-rose-500'>
            <span slot="body" class="text-lg text-amber-100">CitiBanamex</span>
            <span slot="footer" class="text-4xl text-amber-100">Ampliado</span>
          </Card>
          <Card>
            <span slot="body" class="text-lg text-amber-100">CitiBanamex</span>
            <span slot="footer" class="text-4xl text-amber-100">CUT</span>
          </Card>
          <Card classCard='bg-orange-400'>
            <span slot="body" class="text-lg text-amber-100">CitiBanamex</span>
            <span slot="footer" class="text-4xl text-amber-100">CODI Notificacion</span>
          </Card>
        </div>
      </div>

  		<div class="flex mt-10 ms-10 w-8/12 xl:w-6/12">
        <Timeline>
          <TimelineitemsV head="Tesi" time="Agosto 2, 2017">
            Lider Tecnico en el desarrollo de aplicaiones y soluciones  para <span class="font-bold">Citi Banamex</span>
          </TimelineitemsV>
          <TimelineitemsV head="ISI" time="Enero 1, 2010">
            Analista y Desarrollador de aplicaciones para <span class="font-bold">Banco de Banio, Banorte, Agrovision
            Banco Base</span>
          </TimelineitemsV>
          <TimelineitemsV head="QuarSoft" time="Julio 2, 2008">
            Desarrollador Senior Java  utilizando <span class="font-bold">Frameword Spring y Hibernate</span>
          </TimelineitemsV>
          <TimelineitemsV head='UGT' time='Enero 1, 2006'>
            Admistracion de redes y desarrollo de aplicaciones para la administracion de recursos  
          </TimelineitemsV>
        </Timeline>
	  	</div>

    </div>
  </div>
</Layout>
