---
import Layout from '../layouts/Layout.astro'
import Timeline from '../components/Timeline.astro'
import TimelineitemsV from '../components/TimelineitemsV.astro'
import Card from '../components/Card.astro'
---

<Layout>
  <div class="flex flex-col lg:flex-row justify-center items-center mx-auto gap-5 xl:w-8/12">
    <div class="flex flex-col gap-5 xl:gap-10">
      <h1 class="text-4xl text-pink-400">Projectos</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <Card title='CODI' subTitle='Fase 2' className='bg-cyan-600'>
          <span slot="body" class="opacity-100"> <span class="font-bold">Cobro Digital</span>, es una plataforma de Banco de Mexico para facilitar las transacciones de pago y cobro
            a trav&eacute;s de transferencias electr&oacute;nicas, de forma r&aacute;pida, segura y eficiente,
            a trav&eacute;s de tel&eacutefonos m&oacuteviles.
          </span>
          <span slot="footer" class="text-amber-400">CitiBanamex</span>
        </Card>
        <Card title='CODI' subTitle='Fase 1' className='bg-violet-600'>
          <span slot="body"> <span class="font-bold">Cobro Digital</span>, es una plataforma de Banco de Mexico para facilitar las transacciones de pago y cobro
            a trav&eacute;s de transferencias electr&oacute;nicas, de forma r&aacute;pida, segura y eficiente,
            a trav&eacute;s de tel&eacutefonos m&oacuteviles.
          </span>
          <span slot="footer" class="text-cyan-400">CitiBanamex</span>
        </Card>
        <Card title='Portabilidad de Nomina' className='bg-pink-600'>
          <span slot="body">Es para transferir tu sueldo, pension y otras prestaciones, desde la cuenta en la que 
          te depositan tu salario, al banco que prefieras</span>
          <span slot="footer" class="text-cyan-400">CitiBanamex</span>
        </Card>
        <Card title='' className='bg-rose-500'>

        </Card>
      </div>
    </div>
  </div>
</Layout>
