---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="flex justify-center items-center px-6 mx-auto h-screen xl:px-0 dark:bg-gray-900">
		<div class="absolute text-center xl:max-w-4xl gap-10">
			<span class="text-4xl font-bold sm:text-3xl lg:text-8xl">
				<span class="text-cyan-400">Pages </span><span class="text-fuchsia-400">under </span><span class="text-cyan-400">Construction</span>
			</span>
			<p class="mb-5 text-base font-normal text-amber-500 md:text-lg dark:text-gray-400">
				Oops! Looks like you followed a bad link. If you think this is a problem
				with us, please tell us.
			</p>
		</div>
	</div>
</Layout>

