---
import Layout from '../layouts/Layout.astro'
import Timeline from '../components/Timeline.astro'
import TimelineitemsV from '../components/TimelineitemsV.astro'
import Card from '../components/Card.astro'
---

<Layout>
  <div class="flex flex-col lg:flex-row justify-center items-center mx-auto gap-5 xl:w-8/12">
    <div class="flex flex-col gap-5 xl:gap-10">
      <h1 class="text-4xl text-pink-400">Projectos</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-5">
        <Card title='CODI' subTitle='Fase 1' classCard='bg-teal-600' classTitle='text-gray-700' classSubTitle='text-gray-700'>
          <span slot="body"> <span class="font-bold">Cobro Digital</span>, es una plataforma de Banco de Mexico para facilitar las transacciones de pago y cobro
            a trav&eacute;s de transferencias electr&oacute;nicas, de forma r&aacute;pida, segura y eficiente,
            a trav&eacute;s de tel&eacutefonos m&oacuteviles.
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">Java</span>
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>
        
        <Card title='CODI' subTitle='Fase 2' classCard='bg-violet-600' classTitle='text-gray-700' classSubTitle='text-gray-700'>
          <span slot="body" class="opacity-100"> <span class="font-bold">Cobro Digital</span>, es una plataforma de Banco de Mexico para facilitar las transacciones de pago y cobro
            a trav&eacute;s de transferencias electr&oacute;nicas, de forma r&aacute;pida, segura y eficiente,
            a trav&eacute;s de tel&eacutefonos m&oacuteviles.
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">Java</span>
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>
        
        <Card title='Portabilidad de Nomina' classCard='bg-pink-500' classTitle='text-gray-700'>
          <span slot="body">Es para transferir tu sueldo, pension y otras prestaciones, desde la cuenta en la que 
            te depositan tu salario, al banco que prefieras
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">Java</span>
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>

        <Card title='Ampliado' classCard='bg-rose-500' classTitle='text-gray-700'>
          <span slot="body">
            Se creo un nuevo componente para la conexion con SPEI para las transferencias de CODI, esto involucro 
            crear replicar el funcionamiento de la recepcion e envio de la operacion actual
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">Java</span>
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>
        
        <Card title='CUT'>
          <span slot="body">
            Se creo un nuevo componente para la conexion con SPEI para las transferencias de CUT, esto involucro 
            crear replicar el funcionamiento de la recepcion e envio de la operacion actual
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">Java</span>
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Shell</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>

        <Card title='CODI Notificacion' classCard='bg-orange-400' classTitle='text-gray-800'>
          <span slot="body">Se agrego la funcionalidad de enviar notificaciones al cliente cuando se realiza
            un transferencia de tipo de pago CODI para que el ordenante y beneficiario les llegara en la notificaciones 
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">Java</span>
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Shell</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>
        
        <Card title='Participante Indirecto' classCard='bg-orange-400' classTitle='text-gray-800'>
          <span slot="body">Se participo en el analisis y desarrollo del proyecto, en el cual se realizo las adecuaciones
            al sistema para agregar los nuevos tipos de pagos y realizar su envio de la informacion al los diferentes
            sistemas del Banco
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">C</span>
            <span class="text-amber-200">Shell</span>
            <span class="text-amber-200">Cobol</span>
            <span class="text-amber-200">TACL</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">CitiBanamex</span>
          </div>
        </Card>
        
        <Card title='IsiLoand' classCard='bg-orange-400' classTitle='text-gray-800'>
          <span slot="body">Realice la instalacion del sistema IsiLoand (Cartera de Credito) en le Banco
            asi como la insterfaces para la comunicacion entre los sistema que contaba el Banco
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">C#</span>
            <span class="text-amber-200">ASP</span>
            <span class="text-amber-200">Cobol</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">Banco Base</span>
          </div>
        </Card>

        <Card title='Estado de Cuenta' classCard='bg-orange-400' classTitle='text-gray-800'>
          <span slot="body">Se realizo el desarrollo para enviar la informacion del estado de cuenta de 
            los clientes con el firmado y QR, para el sistema del Banco y cual lo estaria enviando a 
            SPEI
          </span>
          <div slot="footer" class="flex w-full justify-center gap-5">
            <span class="text-amber-200">C#</span>
            <span class="text-amber-200">Cobol</span>
            <span class="w-full text-end justify-end text-amber-400 font-bold">Banco Base</span>
          </div>
        </Card>
      </div>
    </div>
  </div>
</Layout>
