---
interface Props {
	title?: string;
	subTitle?:string;
	image?: string;
	className?: string;
}

const { title, subTitle, image, className} = Astro.props;
---

<div class:list={[
    "flex bg-gray-800 rounded-xl",
    className,
  ]}>
  <div class:list={[
  	{
  		"flex-none w-56 relative":image,
	  	"flex relative":!image
  	}
  	]}>
    <img src={image} alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg" loading="lazy" />
  </div>
  <div class="flex-auto p-6">
    <div class="flex">
      <h1 class="flex-auto font-medium text-pink-400 text-3xl">{title}</h1>
      <div class="text-lg font-medium text-cyan-400">{subTitle}</div>
    </div>
    <div class="flex mt-4 mb-6 pb-6 border-b border-amber-200 text-amber-100">
	    <slot name="body"/>
    </div>
    <div class="flex justify-center text-center py-2">
      <slot name="footer"/>
    </div>
    <!-- <p class="text-sm text-slate-500"> -->
    <!--   Free shipping on all continental US orders. -->
    <!-- </p> -->
  </div>
</div>

