---
interface Props {
	title?: string;
	subTitle?:string;
	image?: string;
	classCard?: string;
	classTitle?: string;
	classSubTitle?: string;
}

const { title, subTitle, image, classCard, classTitle, classSubTitle} = Astro.props;
---

<div class:list={[
    "flex bg-gray-800 rounded-xl",
    classCard,
  ]}>
  <div class:list={[
  	{
  		"flex-none w-56 relative":image,
	  	"flex relative":!image
  	}
  	]}>
    <img src={image} alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg" loading="lazy" />
  </div>
  <div class="flex-auto p-6">
    <div class="flex">
      <h1 class:list={[
        "flex-auto font-medium text-amber-100 text-3xl ",
        classTitle,
        ]}>
        {title}
      </h1>
      <div class:list={[
        "text-lg font-medium text-cyan-400",
        classSubTitle
        ]}>
        {subTitle}
      </div>
    </div>
    <div class="flex mt-4 mb-6 pb-6 border-b border-amber-200 text-amber-100">
	    <slot name="body"/>
    </div>
    <div class="flex justify-center text-center py-2">
      <slot name="footer"/>
    </div>
    <!-- <p class="text-sm text-slate-500"> -->
    <!--   Free shipping on all continental US orders. -->
    <!-- </p> -->
  </div>
</div>

