---
interface Props {
	title?: string;
	subTitle?:string;
	stock?: string;
	image?: string;
}

const { title, subTitle, image,stock } = Astro.props;
---

<div class="flex bg-gray-800 rounded-xl">
  <div class:list={[
  	{
  		"flex-none w-56 relative":image,
	  	"flex relative":!image
  	}
  	]}>
    <img src={image} alt="" class="absolute inset-0 w-full h-full object-cover rounded-lg" loading="lazy" />
  </div>
  <div class="flex-auto p-6">
    <div class="flex">
      <h1 class="flex-auto font-medium text-pink-400 text-3xl">{title}</h1>
      <div class="w-full flex-none mt-2 order-1 text-3xl font-bold text-violet-600">{subTitle}</div>
      <div class="text-sm font-medium text-slate-400">{stock}</div>
    </div>
    <div class="flex mt-4 mb-6 pb-6 border-b border-amber-200">
	    <slot name="body"/>
    </div>
    <div class="flex justify-center text-center py-2">
      <slot name="footer"/>
    </div>
    <p class="text-sm text-slate-500">
      Free shipping on all continental US orders.
    </p>
  </div>
</div>

