---
import NavBar from '../components/NavBar.astro';

---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />

		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"  rel="stylesheet" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

		<title>DesoftMex</title>
	</head>
	<body class="w-screen h-screen text-white justify-center">
		<!-- <div class="absolute top-0 w-screen opacity-30 z-0"> -->
		<!-- 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"> -->
		<!-- 	  <path fill="#d26b9d" fill-opacity="1" d="M0,96L34.3,96C68.6,96,137,96,206,117.3C274.3,139,343,181,411,186.7C480,192,549,160,617,165.3C685.7,171,754,213,823,208C891.4,203,960,149,1029,128C1097.1,107,1166,117,1234,101.3C1302.9,85,1371,43,1406,21.3L1440,0L1440,0L1405.7,0C1371.4,0,1303,0,1234,0C1165.7,0,1097,0,1029,0C960,0,891,0,823,0C754.3,0,686,0,617,0C548.6,0,480,0,411,0C342.9,0,274,0,206,0C137.1,0,69,0,34,0L0,0Z"></path> -->
		<!-- 	</svg> -->
		<!-- </div> -->
		<!-- <div class="absolute w-screen bottom-0 opacity-30"> -->
		<!-- 	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"> -->
		<!-- 	  <path fill="#d26b9d" fill-opacity="1" d="M0,96L34.3,96C68.6,96,137,96,206,117.3C274.3,139,343,181,411,186.7C480,192,549,160,617,165.3C685.7,171,754,213,823,208C891.4,203,960,149,1029,128C1097.1,107,1166,117,1234,101.3C1302.9,85,1371,43,1406,21.3L1440,0L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path> -->
		<!-- 	</svg> -->
		<!-- </div> -->
		<div class="absolute h-screen right-0 opacity-10" >
			<svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
				<path d="M292.32,-16.44 C152.69,70.06 270.03,70.06 156.88,153.28 L500.00,150.00 L500.00,0.00 Z" style="stroke: none; fill: #b91d73;"></path>
			</svg>
		</div>
		<div class="relative">
			<NavBar />
			<div class="p-4 md:p-20">
				<slot />
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
body{

	background: linear-gradient(to bottom, #1f0316, #5b0240); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
</style>
