---
import NavBar from '../components/NavBar.astro';

---

<!doctype html>
<html lang="es" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="generator" content={Astro.generator} />

		<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css"  rel="stylesheet" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

		<title>DesoftMex</title>
	</head>
	<body class="w-screen h-screen text-white justify-center">
		<div class="relative">
			<NavBar />
			<div class="p-4 md:p-20">
				<slot />
			</div>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
	</body>
</html>

<style is:global>
body{
	background-attachment: fixed;
	background-image: linear-gradient(to bottom, #1f0316, #5b0240); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
}
</style>
